:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  cursor: default;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}



*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background: rgba(195, 195, 195, 0.2);
  border-radius: 5px;
}

* {
  -ms-overflow-style: -ms-autohiding-scrollbar;
}


body {
  margin: auto;
  max-width: 1200px;
  min-height: 100vh;
  padding: 10px;
  background-color: #131315;
  color: #fff;
}

a {
  text-decoration: inherit;
  color: inherit;
}

